<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <div>
        <h1>Cupcakes</h1>

        <h2>Add cupcake</h2>

        <form id="new-cupcake-form">
            <label for="flavor-form">Flavor: </label>
            <input type="text" name="flavor" id="flavor-form">

            <label for="size-form">Size: </label>
            <input type="text" name="size" id="size-form">

            <label for="rating-form">Rating: </label>
            <input type="text" name="rating" id="rating-form">

            <label for="image-form">Image URL: </label>
            <input type="text" name="image" id="image-form">

            <button>Submit</button>
        </form>

        <ul id="cupcakes-list">
        </ul>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
        integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="/static/cupcakes.js"></script>

</body>
</html>