{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Pets</h1>
    <ul>
        {% for pet in pets %}
            <li>
                {% if pet.photo_url %}
                <img src="{{pet.photo_url}}" alt="{{pet.name}}">
                {% endif %}
                <a href="{{pet.id}}">{{pet.name}} is 
                    {% if pet.available == True %}
                        available!
                    {% else %}
                        not available!
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <form action="/add">
        <button>Add Pet</button>
    </form>

{% endblock %}